@import './reset';
@import './config';

html,
body {
	font-size: $__font16;
}

body,
header {
	min-width: 375px;
	max-width: 1600px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	font-family:
		'Noto Sans JP',
		sans-serif,
		system-ui,
		-apple-system,
		Roboto,
		sans-serif;
	color: $__main;
	letter-spacing: 0.05em;
}

main {
	padding: $__header_desktop_height 2rem 0;
	letter-spacing: 0.05em;
	text-align: justify;
}

section {
	margin: 5rem 0;
}

.eng-text {
	font-family: 'Barlow Condensed', sans-serif;
}

.italic {
	font-style: italic;
}

.break-line {
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap; /* ancient Opera */
	white-space: -o-pre-wrap; /* newer Opera */
	white-space: pre-wrap; /* Chrome; W3C standard */
	word-wrap: break-word; /* IE */
}

.next-arrow::after {
	content: '';
	background-image: url('@assets/icons/navigate_next_FILL0_wght400_GRAD0_opsz24.svg');
	background-repeat: no-repeat;
	width: 1rem;
	height: 1.5rem;
	position: absolute;
	top: -0.15rem;
	right: 1rem;
}
