@import './reset';
@import './config';

html,
body {
	font-size: $__font16;
}

body,
header {
	min-width: 375px;
	max-width: 1600px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	font-family:
		'Noto Sans JP',
		sans-serif,
		system-ui,
		-apple-system,
		Roboto,
		sans-serif;
	color: $__main;
	letter-spacing: 0.05em;
}

main {
	padding: $__header_desktop_height 2rem 0;
	letter-spacing: 0.05em;
	text-align: justify;
}

h2 {
	text-align: center;
	font-size: $__font40;
	font-weight: 100;
	font-family: 'Barlow Condensed', sans-serif;
	margin-bottom: 1.5rem;

	@include mq(md) {
		font-size: $__font80;
		text-align: left;
	}
}

.eng-text {
	font-family: 'Barlow Condensed', sans-serif;
}

.italic {
	font-style: italic;
}
