---
import Logo from '@assets/images/logo.png';
import Burger from '@components/ui/Burger.astro';
import { Image } from 'astro:assets';
---

<header class="header">
	<div class="header__logo">
		<a href="/" class="logo__link">
			<div class="logo__link_image">
				<Image
					src={Logo}
					alt="パウドッググループホールティングス 情報系 新卒採用ページ"
					loading={'eager'}
				/>
			</div>
			<p class="logo__link_text">情報系 新卒採用ページ</p>
		</a>
	</div>
	<div class="header__btns">
		<div class="header__btns_btn eng-text">
			<a href="/entry" class="header__btns_btn_link">ENTRY</a>
		</div>
		<Burger />
	</div>
</header>

<style lang="scss">
	.header {
		position: fixed;
		width: 100%;
		height: $__header_mobile_height;
		padding: 12px 12px;
		background-color: rgba(255, 255, 255, 0.9);

		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		transition: all 250ms ease-in-out;
	}

	.header.open {
		height: $__header_desktop_height;
		padding: 20px 15px;
	}

	.header__logo,
	.logo__link,
	.logo__link_image {
		height: 100%;
	}

	.logo__link {
		display: flex;
		align-items: center;
		gap: 1rem;
		&_image {
			margin-bottom: 0.25rem;
			display: flex;
			img {
				height: 100%;
				width: fit-content;
			}
		}

		&_text {
			font-size: $__font12;
			font-weight: 500;
		}
	}

	.header__btns_btn {
		display: none;
	}

	@media screen and (min-width: 480px) {
		.header__btns_btn {
			display: block;
			&_link {
				color: $__sub;
				background-color: $__secondary;
				padding: 0.25rem 3rem;
				border-radius: 30px;
				font-weight: 500;

				&:hover {
					opacity: 0.9;
				}
			}
		}

		.header__btns {
			display: flex;
			align-items: center;
			gap: 1rem;
		}
	}

	@media screen and (min-width: 768px) {
		.header,
		.header.open {
			height: $__header_desktop_height;
			padding: 20px 30px;
		}

		.logo__link {
			&_image {
				margin-bottom: 0;
			}

			&_text {
				font-size: $__font16;
				margin-bottom: 0.23rem;
				word-break: keep-all;
			}
		}
	}
</style>
