---
import Logo from '@assets/images/logo.png';
import Burger from '@components/ui/Burger.astro';
import { Image } from 'astro:assets';
---

<header class="header">
	<div class="logo">
		<a href="/" class="logo__link">
			<Image
				src={Logo}
				alt="近鉄グループホールティングス 情報系 新卒採用ページ"
				class="logo__link_image"
			/>
			<p class="logo__link_text">情報系 新卒採用ページ</p>
		</a>
	</div>
	<nav class="nav">
		<div class="nav__button eng-text">
			<a href="/entry" class="nav__button_link">ENTRY</a>
		</div>
		<Burger />
	</nav>
</header>

<style lang="scss">
	@import '@styles/config';

	.header {
		width: 100%;
		height: 74px;
		padding: 12px 12px;

		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		transition: all 250ms ease-in-out;
	}

	.header.open {
		height: 90px;
		padding: 20px 15px;
	}

	.logo__link {
		display: block;
		&_image {
			width: 200px;
			margin-bottom: 0.25rem;
		}

		&_text {
			font-size: $__font12;
			font-weight: 500;
		}
	}

	.nav__button {
		display: none;
	}

	@media screen and (min-width: 480px) {
		.nav__button {
			display: block;
			&_link {
				color: $__sub;
				background-color: $__secondary;
				padding: 0.25rem 3rem;
				border-radius: 30px;
				font-weight: 500;

				&:hover {
					opacity: 0.9;
				}
			}
		}

		.nav {
			display: flex;
			align-items: center;
			gap: 1rem;
		}
	}

	@media screen and (min-width: 768px) {
		.header {
			height: 90px;
			padding: 20px 30px;
		}

		.logo__link {
			display: flex;
			align-items: center;
			gap: 1rem;

			&_image {
				width: 100%;
				max-width: 350px;
				margin-bottom: 0;
			}

			&_text {
				font-size: $__font16;
				margin-bottom: 0.23rem;
				word-break: keep-all;
			}
		}
	}
</style>
