---

---

<nav class="nav" aria-expanded="false">
	<ul class="nav__items">
		<li class="nav__item">
			<a class="nav__item_link" href="#section-message" rel="noopener noreferrer">
				<span>Message</span>
			</a>
		</li>
		<li class="nav__item">
			<a class="nav__item_link" href="#section-topics" rel="noopener noreferrer">
				<span class="eng-text">Topics</span><span>近鉄が取り組むDX</span>
			</a>
		</li>
		<li class="nav__item">
			<a class="nav__item_link" href="#section-about" rel="noopener noreferrer">
				<span class="eng-text">About</span><span>企業情報</span>
			</a>
		</li>
		<li class="nav__item">
			<a class="nav__item_link" href="#section-people" rel="noopener noreferrer">
				<span class="eng-text">People</span><span>働く社員の姿</span>
			</a>
		</li>
		<li class="nav__item">
			<a class="nav__item_link" href="#section-environment" rel="noopener noreferrer">
				<span class="eng-text">Environment</span><span>キャリアステップ・教育制度</span>
			</a>
		</li>
		<li class="nav__item">
			<a class="nav__item_link" href="#section-recruit" rel="noopener noreferrer">
				<span class="eng-text">Recruit</span><span>募集要項</span>
			</a>
		</li>
	</ul>
</nav>

<style lang="scss">
	@import '@styles/config';

	.nav {
		z-index: 1000;
		width: 100%;
		position: absolute;
		left: 0;
		padding-left: 4rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.25rem;

		background-color: rgba(255, 255, 255, 0.9);

		height: 0;
		overflow: hidden;
		transition-delay: height 250ms;

		.nav__items {
			opacity: 0;
			transition: all 250ms ease-in-out;
		}
	}

	.nav[aria-expanded='true'] {
		height: calc(100vh - $__header_desktop_height);
		transition-delay: height 250ms;
		top: $__header_desktop_height;

		.nav__items {
			opacity: 1;
			transition: all 500ms ease-in-out;
		}
	}

	.nav__item_link {
		display: flex;
		flex-direction: column;
		width: fit-content;

		span:first-child {
			font-size: $__font48;
			font-weight: 100;
		}

		span:nth-child(2) {
			font-size: $__font14;
		}
	}

	@media screen and (min-width: 768px) {
		.nav {
			padding-left: 0;
		}
		.nav__items {
			margin: 0 auto;
		}

		.nav__item_link {
			flex-direction: row;
			align-items: end;
			gap: 1rem;

			span:first-child {
				font-size: $__font32;
				font-weight: 300;
			}

			span:nth-child(2) {
				font-size: $__font12;
				margin-bottom: 0.25rem;
			}
		}
	}
</style>
