---
import './../styles/main.scss';

import Layout from '@layouts/Layout.astro';
---

<Layout headTitle="近鉄グループホールティングス 情報系 新卒採用ページ">
	<h1>Hello world Astro!</h1>
</Layout>

<style lang="scss"></style>
