---

---

<ul class="about__links">
	<li class="about__link">
		<a href="/">
			<div class="about__link_text">
				<span class="eng-text">Company Profile</span><span>会社概要</span>
			</div>
			<span class="about__link_arrow next-arrow"></span>
		</a>
	</li>
	<li class="about__link">
		<a href="/">
			<div class="about__link_text">
				<span class="eng-text">Business Field</span><span>事業紹介</span>
			</div>
			<span class="about__link_arrow next-arrow"></span>
		</a>
	</li>
</ul>

<style lang="scss">
	@import '@styles/config';

	.about__link {
		width: 100%;
		margin-bottom: 2rem;

		a {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 1rem;

			@include underline($__width: 100%, $__margin: 0 0 0 0, $__bottom: 0);

			&::after {
				height: 3px;
				background-color: $__tertiary;
			}

			&:hover {
				&::after {
					background-color: $__main;
				}

				.about__link_arrow {
					background-color: $__main;

					&::after {
						filter: $__filter_white;
					}
				}
			}
		}

		.about__link_text {
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}

		.about__link_arrow {
			position: relative;
			width: 1.5rem;
			height: 1.5rem;
			border-radius: 50%;
			border: 1px solid $__main;

			&::after {
				filter: $__filter_main;
				background-size: 1rem;
				inset: 0.5rem 0 0 0;
				margin: auto;
			}
		}
	}

	@media screen and (min-width: 768px) {
		.about__links {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
		}

		.about__link {
			flex: 1 0 calc(25% - 10px);
		}
	}
</style>
