---
const { class: about__index, ...attributes } = Astro.props;
---

<div class="about__content">
	<h3 class="about__content_title">主な業務内容</h3>
	<p>
		主な業務は、近鉄グループホールディングスのDX担当部署での業務と、近鉄グループ各社に出向して取り組む業務の２つに大きく分かれます。近鉄グループ全体の連携で総合力を発揮しながらプロジェクトを推進していきます。
	</p>
</div>
<div class:list={[about__index, 'about__info']} {...attributes}>
	<h4 class="about__info_title">
		近鉄グループホールディングス
		<br />事業戦略部
	</h4>
	<h5 class="about__info_subtitle">主な業務</h5>
</div>

<style lang="scss">
	@import '@styles/config';
	.about__content {
		&_title {
			text-align: center;
			margin-bottom: 2rem;
		}
	}

	.about__content_title,
	.about__info_title,
	.about__info_subtitle {
		font-weight: 600;
	}

	.about__info {
		&_title,
		&_subtitle {
			text-align: center;
		}

		&_title {
			color: $__sub;
			background-color: $__main;
			width: 100%;
			padding: 0.5rem;
		}
	}

	@media screen and (min-width: 768px) {
		.about__content,
		.about__info {
			margin: 0 auto;
			width: 600px;
			text-align: center;
		}

		.about__content {
			&_title {
				font-size: $__font30;
			}
		}

		.about__info {
			&_title,
			&_subtitle {
				font-size: $__font20;
			}
		}
	}
</style>
