---
import SectionLayout from '@layouts/SectionLayout.astro';

import AboutInfo from './AboutInfo.astro';
import AboutLinks from './AboutLinks.astro';
---

<SectionLayout title="About" subtitles={['企業情報']}>
	<div class="about">
		<AboutLinks />
		<AboutInfo class="about__info" />
	</div>
</SectionLayout>

<style lang="scss">
	@import '@styles/config';
	.about {
		margin: 5rem 0;
	}

	.about,
	.about__info {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}
</style>
