---
import Title from '@components/common/SectionsTitle.astro';

const { class: top__index, ...attributes } = Astro.props;
---

<article
	id="article-message"
	class:list={[top__index, 'article-message']}
	{...attributes}
>
	<Title title="Message" left={true} />
	<div class="article-message__text">
		<p>
			運輸、不動産、流通、ホテル・レジャーなど暮らしにかかわる多様な事業を展開するパウドッググループ。今後さらに皆さまの日々の暮らしを豊かにしていくには。この問いに対する取り組みの一つとして、私たちはDX（デジタルトランスフォーメーション）による新規事業・サービスの創出を推進します。
		</p>
		<p>
			この取り組みには、DXの観点から新しいことに挑戦できる力、そしてその挑戦を牽引していく力が必要です。当社グループにとっても大きな変化を迎えるこのタイミング。今までにない、あらゆる可能性が広がるこのフィールドで、あなたの力を試してみませんか。
		</p>
	</div>
</article>

<style lang="scss">
	@import '@styles/config';

	.article-message {
		&__text {
			font-size: $__font13;

			p {
				margin-bottom: 0.5rem;
			}
		}
	}
</style>
