---

---

<h1 class="top__titles_eng eng-text">
	Enrich our
	<br />customers’
	<br />daily life
</h1>
<h1 class="top__titles_jp">豊かにしていこう。 <br />近鉄が息づく 街の暮らしを。</h1>

<style lang="scss">
	@import '@styles/config';

	.top__titles {
		&_eng {
			font-weight: 200;
			@include font-responsive(40, 100);
			margin-bottom: 1rem;
		}

		&_jp {
			font-weight: 400;
			@include font-responsive(14, 30);
		}
	}
</style>
