$__main: #103b8b;
$__sub: #ffffff;

$__primary: #000000;
$__secondary: #db3c86;
$__tertiary: #a9a9a9;

$__link: #050c22;
$__link_blue: #1d6dbe;

$__filter_main: invert(17%) sepia(73%) saturate(2486%) hue-rotate(211deg) brightness(84%)
	contrast(96%);
$__filter_white: invert(100%) sepia(1%) saturate(0%) hue-rotate(8deg) brightness(110%)
	contrast(100%);

$__linear_blue: transparent linear-gradient(93deg, #3d56de 0%, #1f3195 100%);
$__linear_colorfull: linear-gradient(111deg, rgb(4, 49, 150) 0%, rgb(219, 60, 134) 100%)
	0% 0% no-repeat padding-box padding-box transparent;
$__linear_colorfull2: linear-gradient(
	127deg,
	rgb(244, 90, 162) 0%,
	rgba(4, 49, 150) 100%
);

$__grey50: #fafafa;
$__grey100: #f9f9f9;
$__grey200: #eeeeee;
$__grey300: #e0e0e0;
$__grey400: #bdbdbd;
$__grey500: #9e9e9e;
$__grey600: #7e7e7e;
$__grey700: #616161;
$__grey800: #424242;
$__grey900: #212121;
